<div class="container mt-5">
  <h2 class="text-center mb-4">All Categories</h2>
  <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>Index</th>
        <th>Category Name</th>
        <th>Description</th>
        <th style="width: 150px; text-align:center">Actions</th>
      </tr>
    </thead>
    <tbody id="categoryTable">
      
    </tbody>
  </table>
</div>


<script src="custom/category.js"></script>

