<h2>All Orders</h2>
<table class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>Index</th>
        <th>Orders Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th style="width: 150px; text-align:center">Actions</th>
      </tr>
    </thead>
    <tbody id="orderDetailTable">
      
    </tbody>
  </table>

  <script src="custom/orderDetail.js"></script>